<div class="banner">
    <img src="../assets/banner10.jpg" class="banner-contact" alt="banner matiz verde con imagen de pinos">
    <h2>Regístrate</h2>
</div>

<div class="row create-form">
    <div class="form-center">
        <form id="form-signup" novalidate>
            <h1>¡Crea tu cuenta aquí!</h1>

            <label for="nombre"><b>Nombre y Apellido</b></label>
            <input type="text" placeholder="VioletaFlores" name="name" required>

            <label for="email"><b>Correo Electrónico</b></label>
            <input type="text" placeholder="ejemplo@tudominio.com" name="email" required>
            <br>

            <label><b>Nombre usuario</b></label>
            <input type="text" placeholder="florDeLoto" name="user" required>
            <br>

            <label for="psw"><b>Contraseña</b></label>
            <input id="password" type="password" placeholder="Introduce tu contraseña" name="password">
            <br>

            <label for="psw"><b>Reescribe tu contraseña</b></label>
            <input id="password2" type="password" placeholder="Introduce tu contraseña" name="password2">
            <br>

            <label><b>Región</b></label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <!-- <option selected>Selecciona tu región</option> -->
                <option selected>Valparaíso</option>
                <option value="2">Santiago</option>
                <option value="3">Antofagasta</option>
            </select>

            <button type="submit" class="btn login">Crear Cuenta</button>
        </form>
    </div>
</div>

