<footer id="footer">
  <div class="footer-container">
      <div class="col-logo">
          <a href="../index.html" class="logo-link">
              <img src="../assets/header-logo.png" alt="Logo de green lamp" class="logo-foot">
          </a>
      </div>

      <div class="col-services">
          <h5>Servicios</h5>
          <ul class="services-list">
              <li><a href="#" class="text-muted">Reciclaje</a></li>
              <li><a href="#" class="text-muted">Compostaje</a></li>
              <li><a href="#" class="text-muted">Cuidado del agua</a></li>
              <li><a href="#" class="text-muted">Cuidado de la energía</a></li>
          </ul>
      </div>

      <div class="col-contact">
          <h5>Contáctanos</h5>
          <ul class="contact-list">
              <li>
                  <span class="material-symbols-outlined">location_on</span>
                  <a href="https://www.google.com/maps/place/Edificio+Isabel+Brown+Caces+PUCV/@-33.044748,-71.6127147,18.96z/data=!4m6!3m5!1s0x9689e0da0b53aa97:0x928c11c78e044b81!8m2!3d-33.0446465!4d-71.6124632!16s%2Fg%2F11bzwpt8jq?entry=ttu"
                      class="text-muted">Av. Brasil 2241, Valparaíso, Chile.</a>
              </li>
              <li>
                  <span class="material-symbols-outlined">mail</span>
                  <a href="mailto:info@pucv.cl" class="text-muted">info@pucv.cl</a>
              </li>
              <li>
                  <span class="material-symbols-outlined">phone</span>
                  <a href="#" class="text-muted">+569 333 333</a>
              </li>
          </ul>
      </div>
  </div>
</footer>
