<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#home" id="header-logo">
          <img src="../assets/header-logo.png">
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-items">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/contacto">Contáctanos</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/mapa-verde">Mapa Verde</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/noticias">Noticias</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/calendario">Calendario Ambiental</a>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item"  href="/tiempo">Tiempo</a></li>
  
                <li><a class="dropdown-item" href="#">Compostaje</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Cuidado del agua</a></li>
                <li><a class="dropdown-item" href="#">Cuidado de la energía</a></li>
              </ul>
            </li>
          </ul>
          <a href="/iniciar-sesion" *ngIf="!currentUser">
            <button class="btn btn-success btn-login" type="submit">Iniciar Sesión</button>
          </a>
          <div *ngIf="currentUser">
            <!-- <img [src]="currentUser.avatar" alt="Avatar"> -->
            <h5>{{ currentUser }}</h5>
            <button class="btn btn-primary" (click)="logout()">Cerrar sesión</button>
          </div>
        </div>
      </div>
    </nav>
  </header>