
/*------------------------CONTACT FORM------------------------*/

#section-recording {
  display: flex;
  justify-content: center;
}

.recording-tittle {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.contact-form {
  background-color: rgba(97, 219, 86, 0.413);
  width: 50%;
  margin: 100px;
  padding: 50px;
  border-radius: 10px;
}

.button-submit {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#form-contact > h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*------------------------LOGIN------------------------*/

.login-section {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.login-btn > button {
  width: 100%;
  margin-top: 20px;
}

.login-form {
  background-color: rgba(97, 219, 86, 0.413);
  width: 30%;
  margin: 100px;
  padding: 50px;
  border-radius: 10px;
}

.login-form > h4 {
  text-align: center;
  padding-bottom: 30px;
}

.login-card {
  margin-top: 20px;
  width: 100%;
}

.login-popup {
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgba(13, 141, 81, 0.143);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-popup > form > h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.login-popup h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

input,
.btn-log {
  width: 100%;
  padding: 12px;
  border: 2px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}

.btn-google {
    border: 5px;
}

.create-account {
    display: flex;
    justify-content: center;
    margin-top: 15px
}


/*-------------------------BANNER---------------------------*/

.banner {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner h2 {
  position: absolute;
  color: white;
  font-size: 50px;
  top: 40%;
}

.banner-contact {
  width: 100%;
  height: 300px;
}
