<div class="banner">
    <img src="../assets/banner10.jpg" class="banner-contact" alt="banner matiz verde con imagen de pinos">
    <h2>Contáctanos</h2>
</div>

<section class="formulario" id="section-recording">
    <div class="form contact-form">
        <form id="form-contact" class="space-y-4">
            <h1>¡Contáctanos!</h1>
            <div>
                <label class="label">
                    <span class="text-base label-text">Nombre</span>
                </label>
                <input name="name" id="name" type="text" placeholder="Ingresa tu nombre"
                    class="w-full input input-bordered" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Teléfono (opcional)</span>
                </label>
                <input name="phone" id="phone" type="text" placeholder="Ingresa tu teléfono (opcional)"
                    class="w-full input input-bordered" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Email</span>
                </label>
                <input name="email" id="email" type="text" placeholder="Ingresa tu email"
                    class="w-full input input-bordered" />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Contraseña</span>
                </label>
                <input name="password" id="password" type="password" placeholder="Ingresa tu contraseña"
                    class="w-full input input-bordered" />
                <input name="password2" id="password2" type="password" placeholder="Ingresa tu contraseña nuevamente"
                    class="w-full input input-bordered mt-1" />
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" id="Textarea1" placeholder="Tu Mensaje" rows="3"></textarea>
            </div>
            <div class="button-submit">
                <button id="submit-btn" type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </div>
        </form>
    </div>
</section>