

<div class="bannerCalendar">
    <img src="../assets/banner10.jpg" class="banner-contact" alt="banner matiz verde con imagen de pinos">
    <h2>Calendario Verde</h2>
</div>

<div class="carousel-container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/Enero.png" id="Imagescalendar" class="d-block w-100" alt="Mes Enero">
                <div id="banner-text" class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/Febrero.png" id="Imagescalendar" class="d-block w-100" alt="arrecife de coral">
            </div>
            <div class="carousel-item">
                <img src="../assets/marzo .png" id="Imagescalendar" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="../assets/ABRIL.png" id="Imagescalendar" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="../assets/MAYO.png" id="Imagescalendar" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="../assets/JUNIO.png" id="Imagescalendar" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="../assets/JULIO.png" id="Imagescalendar" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="../assets/AGOSTO.PNG" id="Imagescalendar" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="../assets/SEPTIEMBRE.png" id="Imagescalendar" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>

<div class="space-activity">
    <div class="card">
        <h2 class="title-calendar">Actividades de fecha</h2>
        <div class="btns-calendar">
            <a href="https://www.lavoz.com.ar/servicios/dia-mundial-de-las-aves-playeras-por-que-se-celebra-hoy-6-de-septiembre/"
                target="_blank"> <button class="btn-info" type="button"> SEPTIEMBRE 06</button></a>
            <a href="https://www.fundacionaquae.org/dia-internacional-para-la-preservacion-de-la-capa-de-ozono/amp/?gclid=Cj0KCQjwx5qoBhDyARIsAPbMagAdh9l6wMgm81YgcPvSaEs8VrSEgFa2CXTZTgKuIS3YjCiGl1Lu7YMaAjILEALw_wcB"
                target="_blank"><button class="btn-info">SEPTIEMBRE 16</button></a>
        </div>
        <div class="btns-calendar">
            <a href="https://www.diainternacionalde.com/ficha/dia-mundia-sin-coche" target="_blank"> <button
                    class="btn-info">SEPTIEMBRE 22</button> </a>
            <a href="https://www.diainternacionalde.com/ficha/dia-maritimo-mundial" target="_blank"> <button
                    class="btn-info">SEPTIEMBRE 24</button> </a>
        </div>
    </div>
</div>