<div class="banner">
    <img src="../assets/banner10.jpg" class="banner-contact" alt="banner matiz verde con imagen de pinos">
    <h2>Noticias</h2>
</div>

<section class="new-section">
    <div class="news">
        <div class="new">
            <img src="../assets/huemul-collar3.webp" alt="huemul con collar rastreador" id="huemul-collar">
            <h3>Collares rastreadores en fauna nativa: ¿cuáles son los pros y contras de esta práctica?</h3>
            <p>El uso de collares rastreadores ha demostrado ser efectivo para comprender de mejor manera aspectos
                claves para la conservación de la fauna nativa, pero su uso aún genera recelo en la comunidad por los
                impactos que puede tener en el bienestar animal.</p>
            <a href="#">Leer más</a>
        </div>

        <div class="new">
            <img src="../assets/especies-invasoras.webp" alt="especies invasoras" id="especies-invasoras">
            <h3>Informe IPBES: Especies exóticas invasoras son causantes del 60% de la extinción mundial de flora y
                fauna</h3>
            <p>Después de cuatro años de trabajo, la Plataforma Intergubernamental Científico-Normativa sobre Diversidad
                Biológica y Servicios de los Ecosistemas (IPBES) ha publicado el estudio más exhaustivo sobre el impacto
                de especies invasoras en el mundo a la fecha...</p>
            <a href="#">Leer más</a>
        </div>
    </div>

    <div class="sidebar">
        <div class="searching">
            <label for="searching">Buscar</label>
            <input type="text" class="form-control" id="searching-sidebar" placeholder="Buscar aquí">
        </div>

        <ul class="recent-knew">
            <p>Noticias recientes</p>
            <li><a href="#">Noticia reciente 1</a></li>
            <li><a href="#">Noticia reciente 2</a></li>
        </ul>
    </div>
</section>