<div class="banner">
    <img src="../assets/banner10.jpg" class="banner-contact" alt="banner matiz verde con imagen de pinos">
    <h2>Inicia sesión</h2>
</div>

<section class="login-section" id="login">
    <div class="login-popup">
        <form class="form-container" id="login-form" formGroupName="profileForm" novalidate>
            <h1>¡Bienvenida!</h1>

            <label for="email"><b>Correo Electrónico o Nombre usuario</b></label>
            <input type="text" placeholder="ejemplo@tudominio.com | FlordeLoto" name="user" formControlName="userName" required>
            <br>
            <label for="psw"><b>Contraseña</b></label>
            <input type="password" placeholder="Introduce tu contraseña" name="password" formControlName="password" required>

            <button type="submit" class="btn btn-log btn-primary">Iniciar Sesión</button>
            <button class="btn btn-log btn-secondary disabled">Continuar con Google</button>
        </form>
        <div class="create-account">
            <a href="/crear-cuenta">
                <h6>¡Crea una cuenta aquí!</h6>
            </a>
        </div>
    </div>
</section>
