<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/arrecife.png" class="d-block w-100" alt="arrecife de coral">
                <div id="banner-text" class="carousel-caption d-none d-md-block">
                    <h2> Juntos podemos salvar<br> el planeta, únete.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipiscing elit tristique <br>orci mi viverra, per a
                        ultrices
                        felis. </p>
                    <button class="btn-info">Nosotros</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/Image-Animal.jpeg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item">
                <img src="assets/arrecife.png" class="d-block w-100" alt="arrecife de coral">
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</section>

<section class="main-top">
    <div class="Mission">
        <div class="text-h2">
            <h2>Nue</h2>
            <h2 class="rayado">stra Mi</h2>
            <h2>sión</h2>
        </div>
        <p> Lorem ipsum dolor sit amet consectetur, adipiscing elit tristique orci mi viverra, per a ultrices felis.
            Eleifend praesent diam dapibus vel nostra pulvinar sodales placerat laoreet, felis massa molestie posuere
            feugiat mus tincidunt nam pellentesque, porta tempor lacus hac magnis enim non ridiculus. Proin etiam
            maecenas
            per ad enim congue ante conubia, sodales bibendum elementum aptent vehicula ac habitant, metus habitasse
            mattis
            dui mus mauris lobortis.
            Habitant lectus pretium facilisi quisque sapien, semper sagittis vulputate montes sollicitudin platea,
            vehicula
            scelerisque faucibus nulla. Nisi imperdiet diam duis mi varius, ullamcorper scelerisque fames ultrices id
            magna,
            dictumst curabitur commodo pretium. Ultrices tincidunt mauris nascetur faucibus rhoncus orci suspendisse
            augue
            euismod ut, risus quisque odio praesent consequat condimentum sociosqu etiam tempor.</p>
    </div>

    <div class="card-row">

        <div class="card">
            <img src="assets/icons/arbol.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Proteger Especies</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <div class="card">
            <img src="assets/icons/reciclar.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Las 3 R, compostar</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>

        <div class="card">
            <img src="assets/icons/gotas.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Recursos Hídricos</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</section>

<section class="main-bottom">
    <h2 class="h2-title-vission">Vision</h2>

    <h2 class="tittle-news-main">
        Noticias destacables </h2>
    <div class="row-news">
        <div class="card">
            <h3>Noticia 1 </h3>
        </div>
        <div class="card">
            <h3>Noticia 2 </h3>
        </div>
        <div class="card">
            <h3>Noticia 3 </h3>
        </div>

    </div>

    <div class="vinculacion-medio">
        <img src="assets/reciclaje.png">
        <h2>Vinculación con el medio</h2>
    </div>
</section>