/*------------------------ERROR INPUT COLOR------------------------*/

.error-text {
    color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
